@import '../../../../style_vars.sass'

\:host
	position: relative

=btn
	width: auto
	height: 3rem
	padding: 0 1rem
	line-height: 3rem
	font-size: 1.4rem
	// margin-top: 1rem
	margin-left: 1rem

$h: 5rem
.project
	&-header
		height: 5rem
		button
			+button($red)
			+btn
			margin-top: 1rem

	&-info
		height: $h
		display: flex
		&__left
			width: 0
			height: 0
			border-style: solid
			border-width: $h/2 0 $h/2 $h/3
			border-color: transparent transparent transparent $blue
		&__center
			width: 100%
			display: flex
			justify-content: space-between
			&__info
				color: #fff
				margin-left: 1rem
				line-height: $h/2
				p:last-child
					font-size: 1.2rem
				input
					+input
					display: block
					border-bottom-color: #fff
			&__buttons
				display: flex
				align-items: center
				button
					+button($red)
					+btn
					margin-left: 0
					margin-right: 0.5rem
