<loading *ngIf="wait"></loading>

<div class="project-header">
	<button (click)="close()">Close</button>
</div>

<div class="project-info" [style.background-color]="setColor()" *ngIf="!wait">
	<div class="project-info__left"></div>
	<div class="project-info__center">
		<div class="project-info__center__info">
			<p *ngIf="!edit_mode">{{thisProject.name}}</p>
			<p *ngIf="!edit_mode">{{thisProject.description}}</p>
			<input *ngIf="edit_mode" type="text" name="name" [(ngModel)]="thisProject.name">
			<input *ngIf="edit_mode" type="text" name="desc" [(ngModel)]="thisProject.description">
		</div>
		<div class="project-info__center__buttons">
			<fav (favTrigger)="x_makeFav($event)" [inFav]="inFav" *ngIf="!edit_mode"></fav>
			<button *ngIf="edit_mode" (click)="x_saveEdit()">Save</button>
			<button *ngIf="edit_mode" (click)="toggleAddingMode()">×</button>
			<button *ngIf="!edit_mode" (click)="toggleAddingMode()">Edit</button>
			<button *ngIf="!edit_mode" (click)="x_deleteProject()">Delete</button>
		</div>
	</div>
</div>

<color *ngIf="edit_mode" (colorSelected)="setTempColor(i, $event)"></color>

<section-list [parentProjectId]="id"></section-list>