<div class="host">
  <loading *ngIf="wait"></loading>

  <!-- [style.background-color]="setColor()" -->
  <div class="task-info" *ngIf="render">
    <div class="task-info__left"></div>
    <div class="task-info__center">
      <div class="task-info__center__info">
        <p *ngIf="!mode.edit_task">{{this_task.line}}</p>
        <input *ngIf="mode.edit_task" [(ngModel)]="this_task.line" type="text" name="line">
      </div>
      <div class="task-info__center__buttons">
        <button *ngIf="mode.edit_task" (click)="x_saveEdit()">Save</button>
        <button *ngIf="mode.edit_task" (click)="toggleMode('edit_task')">×</button>
        <button *ngIf="!mode.edit_task" (click)="toggleMode('edit_task')">Edit</button>
        <button *ngIf="!mode.edit_task" (click)="x_deleteTask()">Delete</button>
      </div>
    </div>
  </div>

  <div class="main">
    <p class="no" *ngIf="!comments.length">No comments yet</p>

    <div class="comments" #scrollMe style="overflow: scroll; height: xyz;">
      <comment *ngFor="let c of comments" [id]="c.id" (deleted)="deleteComment($event)" (block_scroll)="___block_scroll($event)"></comment>
    </div>

    <div class="comments-add">
      <textarea class="comments-add__text" cols="30" rows="3" [(ngModel)]="temp_comment_value"></textarea>
      <button class="comments-add__button" (click)="x_createComment()" [class.--no]="!temp_comment_value.length">Send</button>
    </div>

  </div>

</div>